<!doctype html>
{% extends "layout.html" %}
{% block title %}Lisää lounas{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Lisää lounas</h1>
    
        <form action="/addlunch" method="POST" id="addlunch" onsubmit="return check(this)">
            <label>Lounas:</label> <br>
                <textarea name="lounas" form="addlunch" required></textarea><br>
            
            <label for="paivamaara">Päivämäärä:</label> <br>
                <input type="date" id="paivamaara" name="paivamaara" required>
            <input type="submit" value="Lisää lounas">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>

    <script>
        function check(form) {
            if (form.lounas.value.length < 5 || form.lounas.value.length > 150) {
                alert("Lounas on liian lyhyt tai pitkä. Merkkejä saa olla 5-150.");
                return false;
            }

            return true;
        }
    </script>
</body>        
{% endblock %}