<!doctype html>
{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block content %}
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Tervetuloa nauttimaan Laruun!</h2>
      <p>
     
        <hr>
        {% for restaurant in restaurants %}
          <h4>{{ restaurant [1] }}</h4>
          {{ restaurant [2] }} <br>
          {{ restaurant [3] }} <br>
          {{ restaurant [4] }} <br>
          Lounaan hinta: {{ restaurant [5] }} 
        
          {% for lunch in lunches %}
            {% if lunch [4]==restaurant [0] %}
              <h5>{{ lunch [1] }}</h5> <br>
            {% endif %}  
          {% endfor %}  
        <hr>
        {% endfor %}

    </div>
  </div>
</div>
</body>
{% endblock %}