<!doctype html>
{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<body>
    <div class="container">
      <div class="row">
        <div class="col-12">
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<form action="/login" method="POST">
    <p>Tunnus: <br>
        <input type="text" name="username">
    </p>
    <p>Salasana: <br>
        <input type="password" name="password">
    </p>

    <input type="submit" value="Kirjaudu">
</form>
{% endif %}
        </div>
        </div>
        </div>
</body>        

{% endblock %}