<!doctype html>
{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<body>
    <!-- PAGE FOR LOGGED IN USER -->
    <div class="container">
      <div class="row">
        <div class="col-12">
            {% if session.username %}
                <h2>Olet kirjautunut nimellä: {{ session.username }}</h2>
                <a href="/logout">Kirjaudu ulos</a><br>
            {% if session.restaurant_id!=0 %}
                <a href="/lunch">Lounashallinta</a>
            {% endif %}    
  
            {% if session.username %}
                <h2>Omat suosikit:</h2>
                {% if not favorites %}
                    <p>Sinulla ei ole vielä yhtään suosikkiravintolaa. Lisää ravintola suosikiksi ravintolan sivulta.</p>
                {% endif %}

                {% for favorite in favorites %} 
                    <form class="form-inline" action="/deletefavorite" method="POST">
                        <label>{{ favorite[0] }}</label>
                        <input class="form-control" type="submit" value="Poista suosikeista &#128078">
                        <input type="hidden" name="restaurant_name" value="{{ favorite[0] }}">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
      </div>  
    </div>     

    <!-- PAGE FOR NOT LOGGED IN USER -->
    {% else %}
    <div class="container">
        <div class="row">    
            <div class="col-6">
                <form action="/login" method="POST" onsubmit="return check(this)">
                    <h2>Kirjaudu sisään</h2>
                    <p>Tunnus: <br>
                        <input type="text" name="username" required>
                    </p>
                    <p>Salasana: <br>
                        <input type="password" name="password" required>
                    </p>
                    <input type="submit" value="Kirjaudu">
                </form>
            </div>

            <div class="col-6">
                <form action="/newuser" method="POST" onsubmit="return check(this)">
                    <h2>Luo uusi käyttäjätunnus</h2>
                    <p>Keksi itsellesi käyttäjätunnus: <br>
                        <input type="text" name="username" required>
                    </p>
                    <p>Keksi mitä mainioin salasana: <br>
                        <input type="password" name="password" required>
                    </p>

                    <input type="submit" value="Luo uusi tunnus">
                </form>
                <p><br>*Ravintoloitsijat: luo uusi tunnus ja ilmoita Sinille. </p>
            </div>    
            {% endif %}
        </div>
    </div>

    <!-- Javascript for checking login and new user credentials-->
    <script>
        function check(form) {
            if (form.username.value.length > 100 || form.password.value.length > 100) {
                alert("Käyttäjätunnus tai salasana on liian pitkä");
                return false;
            }
            if (form.username.value.length < 1 || form.password.value.length < 4) {
                alert("Käyttäjätunnus tai salasana on liian lyhyt. Salasanan tulee olla ainakin 4 merkkiä.");
                return false;
            }

            return true;
        }
    </script>
</body>        
{% endblock %}