<!doctype html>
{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}

{% block content %}
<body>
    <div class="container">
      <div class="row">
        <div class="col-12">
            {% if session.username %}
                <p>Olet kirjautunut nimellä {{ session.username }}</p>
                <a href="/logout">Kirjaudu ulos</a><br>
            {% if session.ravintola_id!=0 %}
                <a href="/lunch">Lisää lounas</a>
            {% endif %}    

        </div>
      </div>  
    </div>     

    {% else %}
    <div class="container">
        <div class="row">    
            <div class="col-6">
                <form action="/login" method="POST" onsubmit="return check(this)">
                    <h2>Kirjaudu sisään</h2>
                    <p>Tunnus: <br>
                        <input type="text" name="username">
                    </p>
                    <p>Salasana: <br>
                        <input type="password" name="password">
                    </p>

                    <input type="submit" value="Kirjaudu">
                </form>
            </div>

            <div class="col-6">
                <form action="/newuser" method="POST" onsubmit="return check(this)">
                    <h2>Luo uusi käyttäjätunnus</h2>
                    <p>Keksi itsellesi käyttäjätunnus: <br>
                        <input type="text" name="username">
                    </p>
                    <p>Keksi mitä mainioin salasana: <br>
                        <input type="password" name="password">
                    </p>

                    <input type="submit" value="Luo uusi tunnus">
                </form>
                <p><br>*Ravintoloitsijat: luo uusi tunnus ja ilmoita Sinille. </p>
            </div>    
            {% endif %}
        </div>
    </div>

    <!-- Javascript for checking login and new user credentials-->
    <script>
        function check(form) {
            if (form.username.value.length > 100 || form.password.value.length > 100) {
                alert("Käyttäjätunnus tai salasana on liian pitkä");
                return false;
            }
            if (form.username.value.length < 1 || form.password.value.length < 4) {
                alert("Käyttäjätunnus tai salasana on liian lyhyt. Salasanan tulee olla ainakin 4 merkkiä.");
                return false;
            }

            return true;
        }
    </script>

</body>        
{% endblock %}