<!doctype html>
{% extends "layout.html" %}

{% block title %}<title>{{ ravintola [0][1] }}</title>{% endblock %}

{% block content %}  
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        <h2> {{ ravintola [0][1] }} </h2>
        <p class="info">
          Osoite: {{ ravintola [0][2] }} <br>
          Puh: {{ ravintola [0][3]}} <br>
          Email: {{ ravintola [0][4]}} <br>
          Lounaan hinta: {{ ravintola [0][5]}} <br>  
        </p>
      </p>
    
        <p>    
          <h4>Tänään {{ tanaan }}</h4>
          {% for lounas in lounaat_tanaan %}              
            {{ lounas [1] }} <br>
          {% endfor %}  

          <h4>Huomenna {{huomenna}}</h4>
          {% for lounas in lounaat_huomenna %}
              {{ lounas [1] }}<br>
          {% endfor %}  

          <h4>Maanantai {{maanantai}}</h4>
          {% for lounas in lounaat_maanantai %}
              {{ lounas [1] }}<br>
          {% endfor %}

          <h4>Tiistai {{tiistai}}</h4>
          {% for lounas in lounaat_tiistai %}
              {{ lounas [1] }}<br> 
          {% endfor %}

          <h4>Keskiviikko {{keskiviikko}}</h4>
          {% for lounas in lounaat_keskiviikko %}
            {{ lounas [1] }}<br>
          {% endfor %}
   
          <h4>Torstai {{torstai}}</h4>
          {% for lounas in lounaat_torstai %}
              {{ lounas [1] }}<br>
          {% endfor %}

          <h4>Perjantai {{perjantai}}</h4>
          {% for lounas in lounaat_perjantai %}
              {{ lounas [1] }}<br>
          {% endfor %}
       </p>
    </div>
  </div>     
</div>
</body>   
{% endblock %}