<!doctype html>
{% extends "layout.html" %}


{% block title %}<title>{{ restaurant [0][1] }}</title>{% endblock %}

{% block content %}  
<body>
<div class="container">
  <div class="row">
    <div class="col-6">
      <p>
        <h2> {{ restaurant [0][1] }} ☆{{ average[0] }}☆</h2>
        <p class="info">
          Osoite: {{ restaurant [0][2] }} <br>
          Puh: {{ restaurant [0][3]}} <br>
          Email: {{ restaurant [0][4]}} <br>
          Lounaan hinta: {{ restaurant [0][5]}} <br>  
        </p>
      </p>
    </div>

    <!-- ADD RESTAURANT AS FAVORITE -->
    <div class="col-6">  
      <form action="/addfavorite" method="POST" onsubmit="return check(this)">
        <h3><input type="submit" value="Lisää suosikiksi &#128077"></h3>
        <input type="hidden" name="restaurant_id" value="{{ restaurant[0][0] }}">
        <input type="hidden" name="restaurant_name" value="{{ restaurant[0][1] }}">
        <input type="hidden" name="username" value="{{ session.username }}" required>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </div>

    <!-- LUNCHES -->
    <div class="col-12">
        <hr>
        <p>    
          <h4>Tänään {{ today }}</h4>
          {% for lunch in lunches_today %}              
            {{ lunch [1] }} <br>
          {% endfor %}  

          <h4>Huomenna {{tomorrow}}</h4>
          {% for lunch in lunches_tomorrow %}
              {{ lunch [1] }}<br>
          {% endfor %}  

          <hr>

          <h4>Maanantai {{monday}}</h4>
          {% for lunch in lunches_monday %}
              {{ lunch [1] }}<br>
          {% endfor %}

          <h4>Tiistai {{tuesday}}</h4>
          {% for lunch in lunches_tuesday %}
              {{ lunch [1] }}<br> 
          {% endfor %}

          <h4>Keskiviikko {{wednesday}}</h4>
          {% for lunch in lunches_wednesday %}
            {{ lunch [1] }}<br>
          {% endfor %}
   
          <h4>Torstai {{thursday}}</h4>
          {% for lunch in lunches_thursday %}
              {{ lunch [1] }}<br>
          {% endfor %}

          <h4>Perjantai {{friday}}</h4>
          {% for lunch in lunches_friday %}
              {{ lunch [1] }}<br>
          {% endfor %}
       </p>
      <hr> 
    </div>

    <!-- ADD USER REVIEW -->
    <div class="col-12">
      <div>
        <p>
        <h2>Lisää oma arvio</h2>
        <form action="/addreview" method="POST" id="addreview" onsubmit="return check(this)">
  
          <div>Tähdet</div>
          <div class="rating">
            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
            <label for="star5">☆</label>
            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
            <label for="star4">☆</label>
            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
            <label for="star3">☆</label>
            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
            <label for="star2">☆</label>
            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
            <label for="star1">☆</label>
          </div>
          <div class="clear"></div>
          
          <p>Otsikko</p>
          <input type="text" name="title" form="addreview" required></textarea><br>
          <p>Arvio</p>
          <textarea name="review" form="addreview" required></textarea><br>
          <input type="submit" value="Lisää arvio">
          <input type="hidden" name="restaurant_id" value="{{ restaurant[0][0] }}">
          <input type="hidden" name="username" value="{{ session.username }}">
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </p>
      </div>
      
      <!--JAVASCRIPT CHECK: IS USER LOGGED IN-->
    <script>
      function check(form) {
          if (form.username.value.length < 1) {
              alert("Kirjaudu sisään ensin!");
              return false;
          }

          if (form.star.value < 1) {
            alert("Tähtiluokitus puuttuu!");
            return false;
          }

          return true;
      }
    </script>

<!-- USER REVIEWS -->

      <hr>
      <p>
      <h2>Käyttäjäarviot ☆{{ average[0] }}☆</h2>
      
        {% for review in reviews %}
          <p>{{ review[4] }}<br>
          Käyttäjätunnus: {{ review[0] }}<br>
          ☆: {{ review[1] }} <br>
          <h4>{{ review[2] }}</h4>
          {{ review[3] }}</p>
          <hr>
        {% endfor %}

      </div>
    </p>

    </div>

  </div>     
</div>
</body>   
{% endblock %}